<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Dashboard</h4>        
      </div>
      <div class="card-body">
        <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
         <div>Data loading...</div>
        <!--</form>-->
        
        
      </div>
    </div>
  </div>

  
  <!--<div class="col-md-4">
<div class="card card-profile">
<div class="card-avatar">
<a href="#pablo">
  <img class="img" src="/assets/img/faces/marc.jpg" />
</a>
</div>
<div class="card-body">
<h6 class="card-category text-gray">CEO / Co-Founder</h6>
<h4 class="card-title">Alec Thompson</h4>
<p class="card-description">
  Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
</p>
<a href="#pablo" class="btn btn-primary btn-round">Follow</a>
</div>
</div>
</div>-->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Check Job Status</h4>        
      </div>
      <div class="card-body">
        <!--<form [formGroup]="form" (ngSubmit)="onSubmit()">-->
          <div *ngIf="inProgressJobIds.length==0">
            No jobs in progress at this time
          </div>
          <div class="row" *ngIf="inProgressJobIds.length>0">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">In Progress Jobs</h4>        
                    </div>
                    <div class="card-body" *ngFor="let id of inProgressJobIds">
                      {{id.id}}
                    </div>
              <!--mat-form-field>
                <mat-select placeholder="Job ID" [(ngModel)]="selectedJobId">
                  <mat-option *ngFor="let id of jobIds" [value]="id">
                    {{id}}
                  </mat-option>
                </mat-select>
              </mat-form-field-->
                </div>
            </div>
          </div>
      </div>
            <!--div class="col-md-3">
              <input type="button" class="btn btn-primary pull-left" value="Check Job Status" (click)="getJobStatus()">
            </div>
          </div>   
          <div class="row" *ngIf="jobStatusFlag">
              <div class="col-md-3">
                  Operation: {{operation}}
                </div>
            <div class="col-md-3">
              Job State: {{jobState}}
            </div>
            <div class="col-md-3">
              Number of Records Processed: {{recordsProcessed}}
            </div>
            <div class="col-md-3">
              Number of Records Failed: {{recordsFailed}}
            </div>
          </div-->
        <!--</form>-->
        
        
      </div>
    </div>
  </div>